.footer {
    float: left;
    text-align: right;
    padding-right: 20px;
    font-size: 11px;
    color: #e42020;
    padding-top: 5px;
}

.footer a {
    color: #e42020;
    text-decoration: none;
}

.footer a:hover {
    color: #000;
}

.container {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}